@font-face {
	font-family: 'rt-icons-2';
	src:url('../fonts/rt-icons-2.eot?wz19bt');
	src:url('../fonts/rt-icons-2.eot?#iefixwz19bt') format('embedded-opentype'),
		url('../fonts/rt-icons-2.ttf?wz19bt') format('truetype'),
		url('../fonts/rt-icons-2.woff?wz19bt') format('woff'),
		url('../fonts/rt-icons-23dab.svg?wz19bt#rt-icons-2') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'rt-icons-2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile2:before {
	content: "\e000";
}
.icon-laptop2:before {
	content: "\e001";
}
.icon-desktop2:before {
	content: "\e002";
}
.icon-tablet2:before {
	content: "\e003";
}
.icon-phone2:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-calendar:before {
	content: "\e00d";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-printer:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-wallet:before {
	content: "\e016";
}
.icon-gift:before {
	content: "\e017";
}
.icon-hourglass:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-megaphone:before {
	content: "\e021";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-key:before {
	content: "\e02c";
}
.icon-attachment:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-wine:before {
	content: "\e043";
}
.icon-globe:before {
	content: "\e045";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-upload:before {
	content: "\e04c";
}
.icon-download:before {
	content: "\e04d";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass:before {
	content: "\e053";
}
.icon-quote:before {
	content: "\e600";
}
.icon-quote2:before {
	content: "\e601";
}
.icon-tag:before {
	content: "\e602";
}
.icon-link:before {
	content: "\e603";
}
.icon-cabinet:before {
	content: "\e604";
}
.icon-calendar2:before {
	content: "\e605";
}
.icon-calendar3:before {
	content: "\e606";
}
.icon-file:before {
	content: "\e607";
}
.icon-phone3:before {
	content: "\e608";
}
.icon-tablet3:before {
	content: "\e609";
}
.icon-window:before {
	content: "\e60a";
}
.icon-monitor:before {
	content: "\e60b";
}
.icon-ipod:before {
	content: "\e60c";
}
.icon-tv:before {
	content: "\e60d";
}
.icon-film2:before {
	content: "\e60e";
}
.icon-microphone:before {
	content: "\e60f";
}
.icon-drink:before {
	content: "\e610";
}
.icon-drink2:before {
	content: "\e611";
}
.icon-drink3:before {
	content: "\e612";
}
.icon-coffee2:before {
	content: "\e613";
}
.icon-mug:before {
	content: "\e614";
}
.icon-icecream:before {
	content: "\e615";
}
.icon-cake2:before {
	content: "\e616";
}
.icon-checkmark:before {
	content: "\e617";
}
.icon-cancel:before {
	content: "\e618";
}
.icon-plus:before {
	content: "\e619";
}
.icon-minus:before {
	content: "\e61a";
}
.icon-cog2:before {
	content: "\e61b";
}
.icon-health:before {
	content: "\e61c";
}
.icon-suitcase2:before {
	content: "\e61d";
}
.icon-suitcase3:before {
	content: "\e61e";
}
.icon-picture2:before {
	content: "\e61f";
}
.icon-time:before {
	content: "\e620";
}
.icon-checkmark2:before {
	content: "\e621";
}
.icon-cancel2:before {
	content: "\e622";
}
.icon-upload2:before {
	content: "\e623";
}
.icon-location:before {
	content: "\e624";
}
.icon-download2:before {
	content: "\e625";
}
.icon-basket:before {
	content: "\e626";
}
.icon-gamepad:before {
	content: "\e627";
}
.icon-phone4:before {
	content: "\e628";
}
.icon-image:before {
	content: "\e629";
}
.icon-map:before {
	content: "\e62a";
}
.icon-trashcan:before {
	content: "\e62b";
}
.icon-graduate:before {
	content: "\e62c";
}
.icon-lab:before {
	content: "\e62d";
}
.icon-tie:before {
	content: "\e62e";
}
.icon-football:before {
	content: "\e62f";
}
.icon-eightball:before {
	content: "\e630";
}
.icon-bowling:before {
	content: "\e631";
}
.icon-bowlingpin:before {
	content: "\e632";
}
.icon-baseball:before {
	content: "\e633";
}
.icon-soccer:before {
	content: "\e634";
}
.icon-3dglasses:before {
	content: "\e635";
}
.icon-microwave:before {
	content: "\e636";
}
.icon-refrigerator:before {
	content: "\e637";
}
.icon-oven:before {
	content: "\e638";
}
.icon-washingmachine:before {
	content: "\e639";
}
.icon-mouse:before {
	content: "\e63a";
}
.icon-medal:before {
	content: "\e63b";
}
.icon-magnifier:before {
	content: "\e63c";
}
.icon-stack:before {
	content: "\e63d";
}
.icon-stack2:before {
	content: "\e63e";
}
.icon-stack3:before {
	content: "\e63f";
}
.icon-pil:before {
	content: "\e640";
}
.icon-injection:before {
	content: "\e641";
}
.icon-thermometer:before {
	content: "\e642";
}
.icon-library:before {
	content: "\e643";
}
.icon-auction:before {
	content: "\e644";
}
.icon-justice:before {
	content: "\e645";
}
.icon-pencil2:before {
	content: "\e646";
}
.icon-male:before {
	content: "\e647";
}
.icon-female:before {
	content: "\e648";
}
.icon-pictures2:before {
	content: "\e649";
}
.icon-compass2:before {
	content: "\e64a";
}
.icon-clipboard:before {
	content: "\e64b";
}
.icon-ruler:before {
	content: "\e64c";
}
.icon-heart:before {
	content: "\e64d";
}
.icon-cloud:before {
	content: "\e64e";
}
.icon-star:before {
	content: "\e64f";
}
.icon-tv2:before {
	content: "\e650";
}
.icon-sound:before {
	content: "\e651";
}
.icon-video2:before {
	content: "\e652";
}
.icon-trash:before {
	content: "\e653";
}
.icon-user:before {
	content: "\e654";
}
.icon-key2:before {
	content: "\e655";
}
.icon-search2:before {
	content: "\e656";
}
.icon-settings:before {
	content: "\e657";
}
.icon-camera2:before {
	content: "\e658";
}
.icon-tag2:before {
	content: "\e659";
}
.icon-lock2:before {
	content: "\e65a";
}
.icon-bulb:before {
	content: "\e65b";
}
.icon-pen:before {
	content: "\e65c";
}
.icon-diamond2:before {
	content: "\e65d";
}
.icon-display:before {
	content: "\e65e";
}
.icon-location2:before {
	content: "\e65f";
}
.icon-eye:before {
	content: "\e660";
}
.icon-bubble:before {
	content: "\e661";
}
.icon-stack4:before {
	content: "\e662";
}
.icon-cup:before {
	content: "\e663";
}
.icon-phone5:before {
	content: "\e664";
}
.icon-news:before {
	content: "\e665";
}
.icon-mail:before {
	content: "\e666";
}
.icon-like:before {
	content: "\e667";
}
.icon-photo:before {
	content: "\e668";
}
.icon-note:before {
	content: "\e669";
}
.icon-clock:before {
	content: "\e66a";
}
.icon-paperplane:before {
	content: "\e66b";
}
.icon-params:before {
	content: "\e66c";
}
.icon-banknote:before {
	content: "\e66d";
}
.icon-data:before {
	content: "\e66e";
}
.icon-music:before {
	content: "\e66f";
}
.icon-megaphone2:before {
	content: "\e670";
}
.icon-study:before {
	content: "\e671";
}
.icon-lab2:before {
	content: "\e672";
}
.icon-food:before {
	content: "\e673";
}
.icon-t-shirt:before {
	content: "\e674";
}
.icon-fire:before {
	content: "\e675";
}
.icon-clip:before {
	content: "\e676";
}
.icon-shop:before {
	content: "\e677";
}
.icon-calendar4:before {
	content: "\e678";
}
.icon-wallet2:before {
	content: "\e679";
}
.icon-vynil:before {
	content: "\e67a";
}
.icon-truck:before {
	content: "\e67b";
}
.icon-world:before {
	content: "\e67c";
}
.icon-sun:before {
	content: "\e67d";
}
.icon-moon:before {
	content: "\e67e";
}
.icon-cloudy:before {
	content: "\e67f";
}
.icon-lightning:before {
	content: "\e680";
}
.icon-rainy:before {
	content: "\e681";
}
.icon-rainy2:before {
	content: "\e682";
}
.icon-snowy:before {
	content: "\e683";
}
.icon-snowy2:before {
	content: "\e684";
}
.icon-weather:before {
	content: "\e685";
}
.icon-store:before {
	content: "\e686";
}
.icon-out:before {
	content: "\e687";
}
.icon-in:before {
	content: "\e688";
}
.icon-in-alt:before {
	content: "\e689";
}
.icon-home:before {
	content: "\e68a";
}
.icon-lightbulb2:before {
	content: "\e68b";
}
.icon-anchor:before {
	content: "\e68c";
}
.icon-feather:before {
	content: "\e68d";
}
.icon-expand:before {
	content: "\e68e";
}
.icon-maximize:before {
	content: "\e68f";
}
.icon-search3:before {
	content: "\e690";
}
.icon-add:before {
	content: "\e691";
}
.icon-subtract:before {
	content: "\e692";
}
.icon-close2:before {
	content: "\e693";
}
.icon-book:before {
	content: "\e694";
}
.icon-spinner:before {
	content: "\e695";
}
.icon-play:before {
	content: "\e696";
}
.icon-stop:before {
	content: "\e697";
}
.icon-pause:before {
	content: "\e698";
}
.icon-forward:before {
	content: "\e699";
}
.icon-rewind:before {
	content: "\e69a";
}
.icon-sound2:before {
	content: "\e69b";
}
.icon-sound-alt:before {
	content: "\e69c";
}
.icon-soundoff:before {
	content: "\e69d";
}
.icon-inbox:before {
	content: "\e69e";
}
.icon-inbox-alt:before {
	content: "\e69f";
}
.icon-envelope:before {
	content: "\e6a0";
}
.icon-compose:before {
	content: "\e6a1";
}
.icon-newspaper-alt:before {
	content: "\e6a2";
}
.icon-calendar5:before {
	content: "\e6a3";
}
.icon-hyperlink:before {
	content: "\e6a4";
}
.icon-trash2:before {
	content: "\e6a5";
}
.icon-menu:before {
	content: "\e6a6";
}
.icon-gallery:before {
	content: "\e6a7";
}
.icon-calculator:before {
	content: "\e6a8";
}
.icon-clock2:before {
	content: "\e6a9";
}
.icon-portfolio:before {
	content: "\e6aa";
}
.icon-user2:before {
	content: "\e6ab";
}
.icon-users:before {
	content: "\e6ac";
}
.icon-heart2:before {
	content: "\e6ad";
}
.icon-chat:before {
	content: "\e6ae";
}
.icon-comments:before {
	content: "\e6af";
}
.icon-screen:before {
	content: "\e6b0";
}
.icon-iphone:before {
	content: "\e6b1";
}
.icon-instagram:before {
	content: "\e6b2";
}
.icon-pin-alt:before {
	content: "\e6b3";
}
.icon-camera3:before {
	content: "\e6b4";
}
.icon-chevron-down:before {
	content: "\f0a3";
}
.icon-chevron-left:before {
	content: "\f0a4";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-chevron-up:before {
	content: "\f0a2";
}
.icon-quote3:before {
	content: "\f063";
}
.icon-search4:before {
	content: "\f02e";
}
.icon-triangle-down:before {
	content: "\f05b";
}
.icon-triangle-left:before {
	content: "\f044";
}
.icon-triangle-right:before {
	content: "\f05a";
}
.icon-triangle-up:before {
	content: "\f0aa";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-files-empty:before {
	content: "\e925";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-file-picture:before {
	content: "\e927";
}
.icon-file-music:before {
	content: "\e928";
}
.icon-file-play:before {
	content: "\e929";
}
.icon-file-video:before {
	content: "\e92a";
}
.icon-file-zip:before {
	content: "\e92b";
}
.icon-phone6:before {
	content: "\e942";
}
.icon-quotes-left:before {
	content: "\e977";
}
.icon-quotes-right:before {
	content: "\e978";
}
.icon-spinner6:before {
	content: "\e97f";
}
.icon-magnet:before {
	content: "\e9ab";
}
.icon-google:before {
	content: "\ea87";
}
.icon-google-plus:before {
	content: "\ea88";
}
.icon-google-plus2:before {
	content: "\ea89";
}
.icon-google-plus3:before {
	content: "\ea8a";
}
.icon-google-drive:before {
	content: "\ea8b";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-facebook3:before {
	content: "\ea8e";
}
.icon-instagram2:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-feed2:before {
	content: "\ea94";
}
.icon-feed3:before {
	content: "\ea95";
}
.icon-feed4:before {
	content: "\ea96";
}
.icon-youtube5:before {
	content: "\ea97";
}
.icon-youtube2:before {
	content: "\ea98";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-youtube4:before {
	content: "\ea9a";
}
.icon-vimeo:before {
	content: "\ea9c";
}
.icon-vimeo2:before {
	content: "\ea9d";
}
.icon-vimeo3:before {
	content: "\ea9e";
}
.icon-lanyrd:before {
	content: "\ea9f";
}
.icon-flickr:before {
	content: "\eaa0";
}
.icon-flickr2:before {
	content: "\eaa1";
}
.icon-flickr3:before {
	content: "\eaa2";
}
.icon-flickr4:before {
	content: "\eaa3";
}
.icon-picassa:before {
	content: "\eaa4";
}
.icon-picassa2:before {
	content: "\eaa5";
}
.icon-dribbble:before {
	content: "\eaa6";
}
.icon-dribbble2:before {
	content: "\eaa7";
}
.icon-dribbble3:before {
	content: "\eaa8";
}
.icon-dropbox:before {
	content: "\eaaf";
}
.icon-github3:before {
	content: "\eab3";
}
.icon-wordpress:before {
	content: "\eab6";
}
.icon-wordpress2:before {
	content: "\eab7";
}
.icon-joomla:before {
	content: "\eab8";
}
.icon-blogger:before {
	content: "\eab9";
}
.icon-blogger2:before {
	content: "\eaba";
}
.icon-tumblr:before {
	content: "\eabb";
}
.icon-tumblr2:before {
	content: "\eabc";
}
.icon-apple:before {
	content: "\eabf";
}
.icon-android:before {
	content: "\eac1";
}
.icon-windows:before {
	content: "\eac2";
}
.icon-windows8:before {
	content: "\eac3";
}
.icon-skype:before {
	content: "\eac6";
}
.icon-reddit:before {
	content: "\eac7";
}
.icon-linkedin:before {
	content: "\eac8";
}
.icon-linkedin2:before {
	content: "\eac9";
}
.icon-lastfm:before {
	content: "\eaca";
}
.icon-lastfm2:before {
	content: "\eacb";
}
.icon-delicious:before {
	content: "\eacc";
}
.icon-stumbleupon:before {
	content: "\eacd";
}
.icon-stumbleupon2:before {
	content: "\eace";
}
.icon-pinterest:before {
	content: "\ead0";
}
.icon-pinterest2:before {
	content: "\ead1";
}
.icon-html5:before {
	content: "\eadf";
}
.icon-html52:before {
	content: "\eae0";
}
.icon-css3:before {
	content: "\eae1";
}
.icon-chrome:before {
	content: "\eae5";
}
.icon-firefox:before {
	content: "\eae6";
}
.icon-IE:before {
	content: "\eae7";
}
.icon-opera:before {
	content: "\eae8";
}
.icon-safari:before {
	content: "\eae9";
}
.icon-times2:before {
	content: "\e6b5";
}
.icon-tick:before {
	content: "\e6b6";
}
.icon-plus2:before {
	content: "\e6b7";
}
.icon-minus2:before {
	content: "\e6b8";
}
.icon-equals:before {
	content: "\e6b9";
}
.icon-divide:before {
	content: "\e6ba";
}
.icon-chevron-right2:before {
	content: "\e6bb";
}
.icon-chevron-left2:before {
	content: "\e6bc";
}
.icon-arrow-right-thick:before {
	content: "\e6bd";
}
.icon-arrow-left-thick:before {
	content: "\e6be";
}
.icon-home2:before {
	content: "\e6bf";
}
.icon-arrow-forward:before {
	content: "\e6c0";
}
.icon-arrow-back:before {
	content: "\e6c1";
}
.icon-link2:before {
	content: "\e6c2";
}
.icon-image2:before {
	content: "\e6c3";
}
.icon-delete-outline:before {
	content: "\e6c4";
}
.icon-cloud-storage:before {
	content: "\e6c5";
}
.icon-heart3:before {
	content: "\e6c6";
}
.icon-attachment2:before {
	content: "\e6c7";
}
.icon-media-pause:before {
	content: "\e6c8";
}
.icon-group:before {
	content: "\e6c9";
}
.icon-chart-pie:before {
	content: "\e6ca";
}
.icon-chart-line:before {
	content: "\e6cb";
}
.icon-chart-bar:before {
	content: "\e6cc";
}
.icon-chart-area:before {
	content: "\e6cd";
}
.icon-globe2:before {
	content: "\e6ce";
}
.icon-eye2:before {
	content: "\e6cf";
}
.icon-cog3:before {
	content: "\e6d0";
}
.icon-camera4:before {
	content: "\e6d1";
}
.icon-refresh:before {
	content: "\e6d2";
}
.icon-info-large:before {
	content: "\e6d3";
}
.icon-zoom:before {
	content: "\e6d4";
}
.icon-zoom-out:before {
	content: "\e6d5";
}
.icon-zoom-in:before {
	content: "\e6d6";
}
.icon-sort-numerically:before {
	content: "\e6d7";
}
.icon-sort-alphabetically:before {
	content: "\e6d8";
}
.icon-input-checked:before {
	content: "\e6d9";
}
.icon-calender:before {
	content: "\e6da";
}
.icon-spanner:before {
	content: "\e6db";
}
.icon-phone7:before {
	content: "\e6dc";
}
.icon-media-rewind:before {
	content: "\e6dd";
}
.icon-adjust-brightness:before {
	content: "\e6de";
}
.icon-waves:before {
	content: "\e6df";
}
.icon-social-twitter:before {
	content: "\e6e0";
}
.icon-social-facebook:before {
	content: "\e6e1";
}
.icon-social-dribbble:before {
	content: "\e6e2";
}
.icon-media-stop:before {
	content: "\e6e3";
}
.icon-media-record:before {
	content: "\e6e4";
}
.icon-media-play:before {
	content: "\e6e5";
}
.icon-media-fast-forward:before {
	content: "\e6e6";
}
.icon-media-eject:before {
	content: "\e6e7";
}
.icon-social-vimeo:before {
	content: "\e6e8";
}
.icon-social-tumbler:before {
	content: "\e6e9";
}
.icon-social-skype:before {
	content: "\e6ea";
}
.icon-social-pinterest:before {
	content: "\e6eb";
}
.icon-social-linkedin:before {
	content: "\e6ec";
}
.icon-social-last-fm:before {
	content: "\e6ed";
}
.icon-social-github:before {
	content: "\e6ee";
}
.icon-social-flickr:before {
	content: "\e6ef";
}
.icon-at:before {
	content: "\e6f0";
}
.icon-times-outline:before {
	content: "\e6f1";
}
.icon-plus-outline:before {
	content: "\e6f2";
}
.icon-minus-outline:before {
	content: "\e6f3";
}
.icon-tick-outline:before {
	content: "\e6f4";
}
.icon-th-large-outline:before {
	content: "\e6f5";
}
.icon-equals-outline:before {
	content: "\e6f6";
}
.icon-divide-outline:before {
	content: "\e6f7";
}
.icon-chevron-right-outline:before {
	content: "\e6f8";
}
.icon-chevron-left-outline:before {
	content: "\e6f9";
}
.icon-arrow-right-outline:before {
	content: "\e6fa";
}
.icon-arrow-left-outline:before {
	content: "\e6fb";
}
.icon-th-small-outline:before {
	content: "\e6fc";
}
.icon-th-menu-outline:before {
	content: "\e6fd";
}
.icon-th-list-outline:before {
	content: "\e6fe";
}
.icon-home-outline:before {
	content: "\e6ff";
}
.icon-arrow-up-outline:before {
	content: "\e700";
}
.icon-arrow-forward-outline:before {
	content: "\e701";
}
.icon-arrow-down-outline:before {
	content: "\e702";
}
.icon-arrow-back-outline:before {
	content: "\e703";
}
.icon-trash3:before {
	content: "\e704";
}
.icon-rss-outline:before {
	content: "\e705";
}
.icon-message:before {
	content: "\e706";
}
.icon-location-outline:before {
	content: "\e707";
}
.icon-link-outline:before {
	content: "\e708";
}
.icon-image-outline:before {
	content: "\e709";
}
.icon-export-outline:before {
	content: "\e70a";
}
.icon-cross:before {
	content: "\e70b";
}
.icon-wi-fi-outline:before {
	content: "\e70c";
}
.icon-star-outline:before {
	content: "\e70d";
}
.icon-media-pause-outline:before {
	content: "\e70e";
}
.icon-mail2:before {
	content: "\e70f";
}
.icon-heart-outline:before {
	content: "\e710";
}
.icon-flash-outline:before {
	content: "\e711";
}
.icon-cancel-outline:before {
	content: "\e712";
}
.icon-arrow-move-outline:before {
	content: "\e713";
}
.icon-watch:before {
	content: "\e714";
}
.icon-warning-outline:before {
	content: "\e715";
}
.icon-time2:before {
	content: "\e716";
}
.icon-radar-outline:before {
	content: "\e717";
}
.icon-lock-open-outline:before {
	content: "\e718";
}
.icon-location-arrow-outline:before {
	content: "\e719";
}
.icon-info-outline:before {
	content: "\e71a";
}
.icon-backspace-outline:before {
	content: "\e71b";
}
.icon-attachment-outline:before {
	content: "\e71c";
}
.icon-user-outline:before {
	content: "\e71d";
}
.icon-user-delete-outline:before {
	content: "\e71e";
}
.icon-user-add-outline:before {
	content: "\e71f";
}
.icon-lock-closed-outline:before {
	content: "\e720";
}
.icon-group-outline:before {
	content: "\e721";
}
.icon-chart-pie-outline:before {
	content: "\e722";
}
.icon-chart-line-outline:before {
	content: "\e723";
}
.icon-chart-bar-outline:before {
	content: "\e724";
}
.icon-chart-area-outline:before {
	content: "\e725";
}
.icon-video-outline:before {
	content: "\e726";
}
.icon-point-of-interest-outline:before {
	content: "\e727";
}
.icon-map2:before {
	content: "\e728";
}
.icon-key-outline:before {
	content: "\e729";
}
.icon-infinity-outline:before {
	content: "\e72a";
}
.icon-globe-outline:before {
	content: "\e72b";
}
.icon-eye-outline:before {
	content: "\e72c";
}
.icon-cog-outline:before {
	content: "\e72d";
}
.icon-camera-outline:before {
	content: "\e72e";
}
.icon-support:before {
	content: "\e72f";
}
.icon-scissors-outline:before {
	content: "\e730";
}
.icon-refresh-outline:before {
	content: "\e731";
}
.icon-info-large-outline:before {
	content: "\e732";
}
.icon-download-outline:before {
	content: "\e733";
}
.icon-battery-low:before {
	content: "\e734";
}
.icon-zoom-outline:before {
	content: "\e735";
}
.icon-zoom-out-outline:before {
	content: "\e736";
}
.icon-zoom-in-outline:before {
	content: "\e737";
}
.icon-tag3:before {
	content: "\e738";
}
.icon-tabs-outline:before {
	content: "\e739";
}
.icon-pin-outline:before {
	content: "\e73a";
}
.icon-message-typing:before {
	content: "\e73b";
}
.icon-directions:before {
	content: "\e73c";
}
.icon-battery-full:before {
	content: "\e73d";
}
.icon-battery-charge:before {
	content: "\e73e";
}
.icon-pencil3:before {
	content: "\e73f";
}
.icon-folder:before {
	content: "\e740";
}
.icon-folder-delete:before {
	content: "\e741";
}
.icon-folder-add:before {
	content: "\e742";
}
.icon-edit:before {
	content: "\e743";
}
.icon-document2:before {
	content: "\e744";
}
.icon-document-delete:before {
	content: "\e745";
}
.icon-document-add:before {
	content: "\e746";
}
.icon-brush:before {
	content: "\e747";
}
.icon-thumbs-up:before {
	content: "\e748";
}
.icon-thumbs-down:before {
	content: "\e749";
}
.icon-pen2:before {
	content: "\e74a";
}
.icon-sort-numerically-outline:before {
	content: "\e74b";
}
.icon-sort-alphabetically-outline:before {
	content: "\e74c";
}
.icon-social-last-fm-circular:before {
	content: "\e74d";
}
.icon-social-github-circular:before {
	content: "\e74e";
}
.icon-compass3:before {
	content: "\e74f";
}
.icon-code-outline:before {
	content: "\e750";
}
.icon-calender-outline:before {
	content: "\e751";
}
.icon-business-card:before {
	content: "\e752";
}
.icon-arrow-up:before {
	content: "\e753";
}
.icon-arrow-right:before {
	content: "\e754";
}
.icon-arrow-left:before {
	content: "\e755";
}
.icon-document-text:before {
	content: "\e756";
}
.icon-clipboard2:before {
	content: "\e757";
}
.icon-calculator2:before {
	content: "\e758";
}
.icon-arrow-minimise-outline:before {
	content: "\e759";
}
.icon-arrow-maximise-outline:before {
	content: "\e75a";
}
.icon-arrow-down:before {
	content: "\e75b";
}
.icon-gift2:before {
	content: "\e75c";
}
.icon-film3:before {
	content: "\e75d";
}
.icon-bell:before {
	content: "\e75e";
}
.icon-anchor-outline:before {
	content: "\e75f";
}
.icon-world-outline:before {
	content: "\e760";
}
.icon-shopping-bag:before {
	content: "\e761";
}
.icon-power-outline:before {
	content: "\e762";
}
.icon-notes-outline:before {
	content: "\e763";
}
.icon-device-tablet:before {
	content: "\e764";
}
.icon-device-phone:before {
	content: "\e765";
}
.icon-device-laptop:before {
	content: "\e766";
}
.icon-device-desktop:before {
	content: "\e767";
}
.icon-briefcase:before {
	content: "\e768";
}
.icon-stopwatch:before {
	content: "\e769";
}
.icon-spanner-outline:before {
	content: "\e76a";
}
.icon-puzzle-outline:before {
	content: "\e76b";
}
.icon-printer2:before {
	content: "\e76c";
}
.icon-lightbulb3:before {
	content: "\e76d";
}
.icon-flag-outline:before {
	content: "\e76e";
}
.icon-contacts:before {
	content: "\e76f";
}
.icon-weather-stormy:before {
	content: "\e770";
}
.icon-weather-shower:before {
	content: "\e771";
}
.icon-weather-partly-sunny:before {
	content: "\e772";
}
.icon-weather-downpour:before {
	content: "\e773";
}
.icon-weather-cloudy:before {
	content: "\e774";
}
.icon-plane-outline:before {
	content: "\e775";
}
.icon-phone-outline:before {
	content: "\e776";
}
.icon-microphone-outline:before {
	content: "\e777";
}
.icon-weather-windy:before {
	content: "\e778";
}
.icon-weather-windy-cloudy:before {
	content: "\e779";
}
.icon-weather-sunny:before {
	content: "\e77a";
}
.icon-weather-snow:before {
	content: "\e77b";
}
.icon-weather-night:before {
	content: "\e77c";
}
.icon-media-stop-outline:before {
	content: "\e77d";
}
.icon-media-rewind-outline:before {
	content: "\e77e";
}
.icon-media-record-outline:before {
	content: "\e77f";
}
.icon-media-play-outline:before {
	content: "\e780";
}
.icon-media-fast-forward-outline:before {
	content: "\e781";
}
.icon-media-eject-outline:before {
	content: "\e782";
}
.icon-wine2:before {
	content: "\e783";
}
.icon-waves-outline:before {
	content: "\e784";
}
.icon-ticket:before {
	content: "\e785";
}
.icon-tags2:before {
	content: "\e786";
}
.icon-plug:before {
	content: "\e787";
}
.icon-headphones:before {
	content: "\e788";
}
.icon-credit-card:before {
	content: "\e789";
}
.icon-coffee3:before {
	content: "\e78a";
}
.icon-book2:before {
	content: "\e78b";
}
.icon-beer:before {
	content: "\e78c";
}
.icon-volume:before {
	content: "\e78d";
}
.icon-volume-up:before {
	content: "\e78e";
}
.icon-volume-mute:before {
	content: "\e78f";
}
.icon-volume-down:before {
	content: "\e790";
}
.icon-social-vimeo-circular:before {
	content: "\e791";
}
.icon-social-twitter-circular:before {
	content: "\e792";
}
.icon-social-pinterest-circular:before {
	content: "\e793";
}
.icon-social-linkedin-circular:before {
	content: "\e794";
}
.icon-social-facebook-circular:before {
	content: "\e795";
}
.icon-social-dribbble-circular:before {
	content: "\e796";
}
.icon-tree:before {
	content: "\e797";
}
.icon-thermometer2:before {
	content: "\e798";
}
.icon-social-tumbler-circular:before {
	content: "\e799";
}
.icon-social-skype-outline:before {
	content: "\e79a";
}
.icon-social-flickr-circular:before {
	content: "\e79b";
}
.icon-social-at-circular:before {
	content: "\e79c";
}
.icon-shopping-cart:before {
	content: "\e79d";
}
.icon-messages:before {
	content: "\e79e";
}
.icon-leaf:before {
	content: "\e79f";
}
.icon-feather2:before {
	content: "\e7a0";
}
.icon-keyboard_arrow_down:before {
	content: "\e10f";
}
.icon-keyboard_arrow_left:before {
	content: "\e110";
}
.icon-keyboard_arrow_right:before {
	content: "\e111";
}
.icon-keyboard_arrow_up:before {
	content: "\e112";
}
.icon-directions_bus:before {
	content: "\e1ca";
}
.icon-directions_car:before {
	content: "\e1cb";
}
.icon-directions_ferry:before {
	content: "\e1cc";
}
.icon-directions_subway:before {
	content: "\e1cd";
}
.icon-directions_railway:before {
	content: "\e1ce";
}
.icon-directions_walk:before {
	content: "\e1d0";
}
.icon-flight:before {
	content: "\e1d1";
}
.icon-restaurant_menu:before {
	content: "\e1f9";
}
.icon-wifi:before {
	content: "\e242";
}
.icon-cake:before {
	content: "\e243";
}
.icon-favorite_outline:before {
	content: "\e292";
}
.icon-lock_open:before {
	content: "\e2ac";
}
.icon-lock_outline:before {
	content: "\e2ad";
}
.icon-perm_identity:before {
	content: "\e2ba";
}
.icon-search:before {
	content: "\e2ca";
}
.icon-eye3:before {
	content: "\e006";
}
.icon-paper-clip:before {
	content: "\e007";
}
.icon-mail3:before {
	content: "\e008";
}
.icon-image3:before {
	content: "\e015";
}
.icon-clock3:before {
	content: "\e018";
}
.icon-watch2:before {
	content: "\e019";
}
.icon-camera5:before {
	content: "\e01a";
}
.icon-video3:before {
	content: "\e01b";
}
.icon-monitor2:before {
	content: "\e022";
}
.icon-cog4:before {
	content: "\e023";
}
.icon-heart4:before {
	content: "\e024";
}
.icon-layers2:before {
	content: "\e035";
}
.icon-paper:before {
	content: "\e038";
}
.icon-search5:before {
	content: "\e039";
}
.icon-microphone2:before {
	content: "\e048";
}
.icon-umbrella2:before {
	content: "\e060";
}
.icon-moon2:before {
	content: "\e061";
}
.icon-thermometer3:before {
	content: "\e062";
}
.icon-drop:before {
	content: "\e063";
}
.icon-sun2:before {
	content: "\e064";
}
.icon-cloud2:before {
	content: "\e065";
}
.icon-map3:before {
	content: "\e072";
}
.icon-head:before {
	content: "\e074";
}
.icon-briefcase2:before {
	content: "\e075";
}
.icon-speech-bubble:before {
	content: "\e076";
}
.icon-globe3:before {
	content: "\e078";
}
.icon-tag4:before {
	content: "\e085";
}
.icon-star2:before {
	content: "\e093";
}
.icon-plus3:before {
	content: "\e114";
}
.icon-minus3:before {
	content: "\e115";
}
.icon-check2:before {
	content: "\e116";
}
.icon-cross2:before {
	content: "\e117";
}
.icon-help:before {
	content: "\e127";
}
.icon-files:before {
	content: "\e7a1";
}
.icon-file2:before {
	content: "\e7a2";
}
.icon-browser:before {
	content: "\e7a3";
}
.icon-wifi-full:before {
	content: "\e7a4";
}
.icon-microphone3:before {
	content: "\e7a5";
}
.icon-trashcan2:before {
	content: "\e7a6";
}
.icon-search6:before {
	content: "\e7a7";
}
.icon-calendar6:before {
	content: "\e7a8";
}
.icon-heart5:before {
	content: "\e7a9";
}
.icon-star3:before {
	content: "\e7aa";
}
.icon-clock4:before {
	content: "\e7ab";
}
.icon-users2:before {
	content: "\e7ac";
}
.icon-user3:before {
	content: "\e7ad";
}
.icon-creditcards:before {
	content: "\e7ae";
}
.icon-calculator3:before {
	content: "\e7af";
}
.icon-bag:before {
	content: "\e7b0";
}
.icon-diamond3:before {
	content: "\e7b1";
}
.icon-drink4:before {
	content: "\e7b2";
}
.icon-shorts:before {
	content: "\e7b3";
}
.icon-coffee4:before {
	content: "\e7b4";
}
.icon-map4:before {
	content: "\e7b5";
}
.icon-syringe:before {
	content: "\e7b6";
}
.icon-pill:before {
	content: "\e7b7";
}
.icon-lab3:before {
	content: "\e7b8";
}
.icon-mug2:before {
	content: "\e7b9";
}
.icon-chart:before {
	content: "\e7ba";
}
.icon-pencil4:before {
	content: "\e7bb";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-film:before {
	content: "\f008";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-cog:before {
	content: "\f013";
}
.icon-gear:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-phone:before {
	content: "\f095";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-cutlery:before {
	content: "\f0f5";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-hospital-o:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-mobile-phone:before {
	content: "\f10b";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-photo-o:before {
	content: "\f1c5";
}
.icon-file-picture-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-zip-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-sound-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-video-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-paper-plane-o:before {
	content: "\f1d9";
}
.icon-send-o:before {
	content: "\f1d9";
}
.icon-futbol-o:before {
	content: "\f1e3";
}
.icon-soccer-ball-o:before {
	content: "\f1e3";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-diamond:before {
	content: "\f219";
}
.icon-whatsapp:before {
	content: "\f232";
}
.icon-chevron-down2:before {
	content: "\e7bc";
}
.icon-chevron-left3:before {
	content: "\e7bd";
}
.icon-chevron-right3:before {
	content: "\e7be";
}
.icon-chevron-small-down:before {
	content: "\e7bf";
}
.icon-chevron-small-left:before {
	content: "\e7c0";
}
.icon-chevron-small-right:before {
	content: "\e7c1";
}
.icon-chevron-small-up:before {
	content: "\e7c2";
}
.icon-chevron-thin-down:before {
	content: "\e7c3";
}
.icon-chevron-thin-left:before {
	content: "\e7c4";
}
.icon-chevron-thin-right:before {
	content: "\e7c5";
}
.icon-chevron-thin-up:before {
	content: "\e7c6";
}
.icon-chevron-up2:before {
	content: "\e7c7";
}
.icon-code:before {
	content: "\e7c8";
}
.icon-light-bulb:before {
	content: "\e7c9";
}
.icon-magnifying-glass2:before {
	content: "\e7ca";
}
.icon-map5:before {
	content: "\e7cb";
}
.icon-scissors:before {
	content: "\e7cc";
}
.icon-tools2:before {
	content: "\e7cd";
}
.icon-box:before {
	content: "\e7ce";
}
.icon-write:before {
	content: "\e7cf";
}
.icon-clock5:before {
	content: "\e7d0";
}
.icon-search7:before {
	content: "\e7d1";
}
.icon-trash4:before {
	content: "\e7d2";
}
.icon-envelope2:before {
	content: "\e7d3";
}
.icon-bubble2:before {
	content: "\e7d4";
}
.icon-camera6:before {
	content: "\e7d5";
}
.icon-image4:before {
	content: "\e7d6";
}
.icon-tag5:before {
	content: "\e7d7";
}
.icon-heart6:before {
	content: "\e7d8";
}
.icon-video-camera:before {
	content: "\e7d9";
}
.icon-cart:before {
	content: "\e7da";
}
.icon-film4:before {
	content: "\e7db";
}
.icon-home3:before {
	content: "\e7dc";
}
